body {
    margin: 0;
    padding: 0;
    background-color: #D7DBD9;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu principal */

.menu01{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: #0A250D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    /* font-size: 10px;
    font-weight: bold; */
    text-transform: uppercase;
    width: 236px;
    height: 145px;
    margin-top:-96px;
    margin-left: -25px;
}

/* caixa de pesquisa */

.caixa-de-pergunta {
    flex: 1;
    margin: 0 5px;
    /* text-transform: uppercase; */
}

.caixa-de-pergunta input[type="text"] {
    margin-right: 1vw;
    width: 20vw;
    height: 25px;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #316B3B;
}
.btn-buscar-top{
    margin-left: -50px;
    top: 17px;
    width: 30px;
    height: 12px;
    background-color: rgba(0, 255, 255, 0.533);
    background:no-repeat;
    border:none;
    cursor: pointer;
    position: fixed;
}

.search-and-login {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

/* Entrar e sacola */

.entrar-sacola {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 30px;
    width: 170px ;
}

/* entrar */

.Tex-entrar{
    color: #fff;
    margin-left: 31px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed; 
    font-family: 'Fira Sans', sans-serif;
} 

.entrar-tamanho{
    width: 26px;
    height: 26px;
    margin-top: -13px;
    text-transform: uppercase;
    position: fixed; 
}

/* sacola */

.bag-tamanho{
    width: 26px;
    height: 26px;
    margin-top:-13px;
    margin-left: 89px;
    text-transform: uppercase;
    position: fixed;
}
.Tex-bag{
    color: #fff;
    margin-left: 120px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    font-family: 'Fira Sans', sans-serif;

} 

/* menu02  */

.menu02{
    position: fixed;
    margin-top: 58px;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #7C9E82;
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    box-sizing: border-box;
}

.btn-text-top{
    /* margin-left: 135vh; */
    /* margin-top: 10px; */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255,8);
    border-radius: 12px;
    padding: 15px 50px 15px 30px;
    width: 170px;
    height: 2px;
    position: relative;
}

