body {
    background-color: #D7DBD9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu principal */

.menu01{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background-color: #0A250D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    text-transform: uppercase;
    margin-top: 3px;
}

/* caixa de pesquisa */

.caixa-de-pergunta {
    flex: 1;
    margin: 0 5px;
    /* text-transform: uppercase; */
}

.caixa-de-pergunta input[type="text"] {
    margin-right: 1vw;
    width: 20vw;
    height: 21px;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 11px;
    background-color: #316B3B;
}
.btn-buscar-top{
    margin-left: -46px;
    background:no-repeat;
    border:none;
    cursor: pointer;
    position: fixed;
}

.search-and-login {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

/* Entrar e sacola */

.entrar-sacola {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 20px;
    width: 170px ;
}

/* entrar */

.Tex-entrar{
    color: #fff;
    margin-left: 31px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 12px;
    /* font-weight: bold; */
    text-transform: uppercase;
    position: fixed; 
    font-family: 'Fira Sans', sans-serif;
} 

.entrar-tamanho{
    width: 24px;
    height: 24px;
    margin-top: -13px;
    text-transform: uppercase;
    position: fixed; 
}

/* sacola */

.bag-tamanho{
    width: 24px;
    height: 24px;
    margin-top:-13px;
    margin-left: 89px;
    text-transform: uppercase;
    position: fixed;
}
.Tex-bag{
    color: #fff;
    margin-left: 120px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 12px;
    /* font-weight: bold; */
    text-transform: uppercase;
    position: fixed;
    font-family: 'Fira Sans', sans-serif;

} 

/* menu02  */

.menu02{
    position: fixed;
    margin-top: 38px;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #7C9E82;
    flex-direction:row-reverse;
    display: flex;
}

.Esp-menu-02{
        text-transform: uppercase;
        height: 29px;
        width: 280px ;
        margin-right:3vw; 
        display: flex;
        align-items: center;     
        justify-content: space-around;   
}

    .produto{
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
    }
    .sobre-nos{
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
    }
    .contato{
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
    }

/* Sacola */

.espaço-titulo{
    width: 92%;
    height: 6%;
    margin: 20px;
    display: flex;
    align-items: center;
}

.Produto-Sacola{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin-left: 10px;
    /* text-decoration: none; */
}

.img-bolsa{
    margin-bottom: 8px;
}

.comidas{
    width: 100%;
    height: 43%;
    /* background-color: #4caf4f98; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comida01{
    width: 100%;
    height: 46%;
    background-color: #f4f4f4;
    display: flex;
}
.comida02{
    width: 100%;
    height: 46%;
    background-color:#f4f4f4;
    display: flex;
}

/* .comida03{
    width: 100%;
    height: 31%;
    background-color: #F4F4F4;
    display: flex;
} */

.img-box-pedido{
    width: 120px;
    height: 85px;
    margin: 12px;
}

.descrição{
    width: 40%;
    height: 50%;
    margin-top: 15px;
    /* background-color: #316b3b62; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.espaço-frete{
    width: 100%;
    height: 25%;
    background-color: #0a250d67;
    margin-top: 15px;
}

.caminhao{
    width: 150px;
    height: 37px;
    /* background-color: #007bff8e; */
    display: flex;
    align-items: center;
}

.caminhao-img{
    margin-right: 20px;
    width: 57px;
    height: 52px;
    /* margin-top: -5px; */
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #007bff6c;
  }
  
  .product {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    background-color: #007bff2f;
  }
  
  .cart-menu {
    position: fixed;
    bottom: 20px; /* Posição vertical */
    right: 20px; /* Posição horizontal */
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    background-color: #88ff007e;
  }
  
  .cart-icon {
    cursor: pointer;
  }
  
  .cart-dropdown {
    display: none; /* Oculta a sacola inicialmente */
    position: absolute;
    bottom: 0px; /* Posição vertical */
    right: 0;
    background-color: #fff;
    width: 32vw;
    height: 89.5vh;
    border-radius: 5px;
    box-shadow: 0 2px 109px rgba(0, 0, 0, 0.3);
  }
  
  .cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-total {
    margin-top: 10px;
    text-align: right;
  }
  
  .checkout {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calculate-shipping {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }


.efeito-vidro {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
