body {
    margin: 0;
    padding: 0;
    background-color: #D7DBD9;
    background-image: url(/Healthbox/img/sobre_nos_img/healthbox-1__7_-removebg-preview.png);
    background-size: auto;
}

.espaço{
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    color: white; 
}
.espaço-form{
    width: 70vh;
    height: 64vh;
    background-color: #316B3B;
    border: 3vh solid #0A250D;
    margin-bottom: -1%;
    border-radius: 1%;
    margin-top: 2vh;
}


.espaço-nome{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 25vh;
    /* background-color: rgba(47, 191, 191, 0.297); */
}

.esp-nome{
    flex-direction: column;
    display: flex;
    justify-content:space-around;  
    position: fixed;
    text-transform: uppercase;
    height: 23vh;
    width: 390px;
    margin-top: 1%;
    margin-left: 1%;
    /* background-color: #ffffff5d; */
}


.espaço-data{
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: 9vh;
    
} 
.esp-data{
    display: flex;
    justify-content:space-between;  
    position: fixed;
    text-transform: uppercase;
    height: 8vh;
    width: 390px;
    margin-left: 1%;
    /* margin-top: 1%; */

}
.small-data-1{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}
.small-data-2{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
} 



.espaço-botao{
    margin-top: 1%;
    height: 22vh;
    position: fixed;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 390px;
    margin-left: 3%;
}

.small-letters{
    margin:auto;
    line-height: 19px;
    font-size: 10px;
    }
    .politica{
    margin-top: 5%;
    justify-content: center;
    }
    .uso{
    display: flex;
    justify-content: center;
    }

    #cadastrar{
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    background-color: #85A062;
    font-size: 20px;
    padding: 2%;
    color: #ffffff;
    width: 45%;
    margin: auto;
    margin-top: -1%;
    margin-bottom: 8%;
    border: none;
    border-radius: 3%;
    cursor: pointer;
    font-weight: bold;
    }
    #login{
    margin-top: -4%;
    font-size: 15px;
    }
    a{
    list-style: none;
    color: #ffffff;
    }
    


