body {
    margin: 0;
    padding: 0;
    background-color: #D7DBD9;
    background-image: url(/Healthbox---Emy---Gi-main/img/sobre_nos_img/healthbox-1__7_-removebg-preview.png);
    background-size: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu01{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: #0A250D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.logo {
    /* font-size: 10px;
    font-weight: bold; */
    text-transform: uppercase;
    width: 236px;
    height: 145px;
    margin-top:-96px;
    margin-left: -25px;
}
.caixa-de-pergunta {
    flex: 1;
    margin: 0 5px;
    /* text-transform: uppercase; */
}
.caixa-de-pergunta input[type="text"] {
    margin-right: 1vw;
    width: 20vw;
    height: 25px;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #316B3B;
}
.btn-buscar-top{
    margin-left: -50px;
    top: 17px;
    width: 30px;
    height: 12px;
    background-color: rgba(0, 255, 255, 0.533);
    background:no-repeat;
    border:none;
    cursor: pointer;
    position: fixed;
}
.search-and-login {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.entrar-sacola {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 30px;
    width: 170px ;
}
.Tex-entrar{
    color: #fff;
    margin-left: 31px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed; 
    font-family: 'Fira Sans', sans-serif;
} 
.entrar-tamanho{
    width: 26px;
    height: 26px;
    margin-top: -13px;
    text-transform: uppercase;
    position: fixed; 
}
.bag-tamanho{
    width: 26px;
    height: 26px;
    margin-top:-13px;
    margin-left: 89px;
    text-transform: uppercase;
    position: fixed;
}
.Tex-bag{
    color: #fff;
    margin-left: 120px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    font-family: 'Fira Sans', sans-serif;
} 

/* menu 02 */

.menu02{
    position: fixed;
    margin-top: 58px;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #7C9E82;
    flex-direction:row-reverse;
    display: flex;
}
.Esp-menu-02{
        text-transform: uppercase;
        height: 20px;
        width: 280px ;
        margin-right:3vw; 
        display: flex;
        align-items: center;     
        justify-content: space-around;   
}
.produto{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.sobre-nos{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.contato{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

/* espaço fundo  */

.esp-fundo{
    position: fixed;
    margin-top: 103px;
    width: 100%;
    height: 85%;
    display: grid;
    background-color: rgba(127, 255, 212, 0.531);
    justify-content: space-around;
}
.esp-logo{
    position: fixed;
    margin-top: 118px;
    margin-left: 6%;
    top: 0;
    left: 0;
    width:  420px;
    height: 500px; 
    background-color: #316b3ba0;
    background-image: url(/Healthbox---Emy---Gi-main/img/sobre_nos_img/healthbox-logo-sobre-nos.png);
    background-clip: padding-box;
    background-repeat: no-repeat;
}
.esp-text{
    text-transform:lowercase;
    align-items: center;
    position: fixed;
    margin-top: 158px;
    margin-left: 50vw;
    top: 0;
    left: 0;
    width:  520px;
    height: 450px; 
    background-color: #7C9E82;
    border-radius: 3%;
} 

.text1{
    font-size: 5vh;
    color: white;
    font-family: "Antic Didone";
}
.text2{
    font-family: "Fira Sans";
    color: #fff;
    font-size: 2vh;
} 
 



/* .esp-texto{
    margin-top: 13vh;
    margin-left: 11vw;
    height: 50vh;
    width: 30vw;
    flex-direction:row-reverse;
    text-transform: uppercase;
}
.fonte-menor{
        margin-top: 1vw;
        font-family: 'Fira Sans', sans-serif;
        font-size: 3vh;
        color:#316B3B ;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        position: fixed;
}
.fonte-maior{
        margin-top: 3vw;
        text-transform: uppercase;
        font-family: 'Antic Didone', serif;
        font-size: 14vh;
        color:#031506;
        text-decoration: none;
        font-weight: bold;
        position: fixed;
} */